.cart{
    padding: 20px;
    height: auto;
    width: 95%;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px; 
}
.text-area {
    text-align: center;
}

.logo-image{
  border-radius: 20px;
}