@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
      font-family: poppins, sans-serif;
}
.Service__title{
      padding: 20px 0px 0px 0px;
    }
.title{
      
      background-color: rgb(43, 10, 48);
      color: cornsilk;
      /* border-radius: 20px; */
      padding: 10px;

}

.card {
      padding: 10px 10px 0px 10px;
      height: 330px;
      width: 90%;
      width: auto;
      border: 1px solid rgb(128, 128, 128);
      margin: 15px 5px 5px 5px;
      padding-bottom: 20px;
      background-color: rgb(252, 252, 252);
      border-radius: 40px;
      cursor: pointer;
    
      /* background-color: #000; */
    }
.card:hover{
      color: steelblue;
}

.service__card{
      background-color: rgb(250, 250, 250);
      padding-bottom: 10px;
}

.text__area {
      text-align: center;
      /* background-color: rgb(131, 124, 124); */
     
    }

.logo__img{
     padding-top: 50px;
     padding-bottom: 20px;
}
    