.icon {
  margin: 5px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  /* border-radius: 5px; */
  color: rgb(155, 155, 155);
  font-size: 30px;
}
.icon:hover {
  background-color: rgb(124, 10, 134);
}
.footer__menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.footer__menu:hover {
  color: rgb(130, 6, 187);
}
.footer__input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(252, 247, 247);
}
.footer__container {
  background-color: #1b0827;
  padding: 50px;
  color: rgb(216, 209, 209);
}
.footer__used__icon {
  font-size: 30px;
  color: rgb(87, 20, 126);
}
.btn{
  background-color: rgb(86, 12, 116) !important;
}
.btn:hover{
  background-color:rgb(133, 14, 180) !important;
}